<!DOCTYPE html>
<html>
  <head>
    <title><'acd'></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script src="/socket.io/socket.io.js"></script> -->
  </head>
  <body>
    <div class="link-wrap">
        <a href="/acp/book" class="link">
            <link-block>Добавить книгу</link-block>
        </a>
        <a href="/acp/author" class="link">
            <link-block>Добавить автора</link-block>
        </a>
        <a href="/acp/genre" class="link">
            <link-block>Добавить жанр</link-block>
        </a>
    </div>
    <script src="/javascripts/acp.js"></script>
  </body>
</html>
