<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
  </head>
  <body>
    <a href="/acp">
      <link-block>
        <div class="block">Админка</div>
      </link-block>
    </a>
    <div class="filterBook-wrap">
      <form action="" class="filterBookForm">
        <button class="btnForm" type="submit">Submit</button>
      </form>
       <div class="booksBlock"></div>
    </div>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
